html {
    font-size: 125%;
}

body {
    font-family:'Lora',serif;
    font-weight:400;
    margin: 0;
    padding: 0;
}

header {
    font-family:'Montserrat',sans-serif;
}

.top_navbar {
    margin: 0;
    float:left;
    box-shadow: 0 0 0 0, 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    display:inline;
    background-color: rgb(202, 230, 255)
}
.navbar_options {
    padding: 3px 7px;
    font-family:'Montserrat',sans-serif;
    border:none;
    display:inline-block;
}


h1 {
    background-image:linear-gradient(rgb(202, 230, 255),rgb(255,255,255));
    margin:0;
    padding-top: 100px;
    padding-bottom: 50px;
    padding: 0px,auto;
    font-weight:300;
    font-size: 3.75em;
    text-align: center;
}

h2 {
    font-weight:200;
    font-size: 2.5em;
    text-align: center;
}

h3 {
    font-size: 2em;
    font-weight:200;
}

h4 {
    font-size: 1.5em;
    font-weight:200;
}

p {
    font-size: 1em;
    font-weight:300;
}

h3, h4, p {
    width:1000px;
    margin: 0 50px;
    padding: 20px 20px 20px 20px;
}

p, li{
    line-height: 1.8;
}


img {
    width: 100px;
    display:block;
    margin: 0 auto;
}



a:hover {
    color:rgb(45, 112, 255);
}